---
import { getCollection } from 'astro:content';
import DocsLayout from '@/layouts/DocsLayout.astro';

export async function getStaticPaths() {
  const docsEntries = await getCollection('docs');
  return docsEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---
<DocsLayout title={`${entry.data.title} - form-kit`}>
  <article class="prose prose-invert max-w-none">
    <h1>{entry.data.title}</h1>
    <p><em>{entry.data.description}</em></p>
    <hr />
    <div class="mb-8">
      <h2 class="text-xl font-bold mb-2">Table of Contents</h2>
      <ul>
        {headings.map(heading => (
          <li>
            <a href={`#${heading.slug}`} class="text-violet-400 hover:underline">
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    </div>
    <Content />
  </article>
</DocsLayout>
